@{
    ViewData["Title"] = "Not Found";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <img src="https://img.lovepik.com/free-png/20210918/lovepik-404-page-error-png-image_400217866_wh1200.png" style="width:100%;height:500px" />
    </div>

    <div class="col-md-4 offset-5 mt-4">
        <a class="btn btn-outline-success" asp-action="Index" asp-controller="Author">
            <i class="fas fa-regular fa-arrow-rotate-right"></i> Go To Home Page
        </a>
    </div>
</div>